@import "background-animated";

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Righteous', cursive;
    font-size: 16px;
}

.starwars{
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #fff017;
    font-size:500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
    .crawl{
        position: relative;
        top: -100px;
        transform-origin: 50% 150%;
        animation: crawl 60s linear infinite;
        img{
          display: block;
          margin: auto;
          border-radius: 50%;
        }
    }
}

@keyframes crawl {
    0% {
      top: 1200px;
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-3000px);
    }
  }